<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t("messages.editing_coin") %></h1>

  <%= render "form", coin: @coin %>

  <%= link_to t("links.show_coin"), @coin, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to t("links.back"), coins_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
